<!doctype html>
<html lang="en">
<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/svg.ejs') %>
    <main>
        <%- include('../templates/header.ejs') %>
        <div class="form-signin w-100 m-auto">
            <form action="/login" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              
              <img class="mb-4" src="/static/images/bootstrap-logo.svg" alt="" width="72" height="57">
              <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          
              <div class="form-floating">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
          
              <div class="checkbox mb-3">
                <label><input type="checkbox" name="remember" value="true"> Remember me</label>
                <a href="/reset_password">Reset Password</a>
              </div>
              <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
              <% } %>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              <a href="/auth/google">Login with Google</a>
              <a href="/auth/facebook">Login with Facebook</a>
            </form>
            <div id="my-signin2"></div>
        </div>
        <%- include('../templates/footer.ejs') %>
    </main>
</body>

<script>
  function onSuccess(googleUser) {
    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
  }
  function onFailure(error) {
    console.log(error);
  }
  function renderButton() {
    gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 240,
      'height': 50,
      'longtitle': true,
      'theme': 'dark',
      'onsuccess': onSuccess,
      'onfailure': onFailure
    });
  }
</script>
<script src="/static/js/bootstrap.bundle.min.js"></script>

</html>