<!doctype html>
<html lang="en">
<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/svg.ejs') %>
    <main>
        <%- include('../templates/header.ejs') %>
        <div class="form-signin w-100 m-auto">
            <form action="/reset_password_confirm" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              
              <h1 class="h3 mb-3 fw-normal">Reset Password Confirm</h1>
          
              <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingInput">
                <label for="floatingInput">Password</label>
              </div>
              <div class="form-floating">
                <input type="password" name="confirmPassword" class="form-control" id="floatingInput">
                <label for="floatingInput">Confirm Password</label>
              </div>
              <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
              <% } %>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Set Password</button>
            </form>
          </div>
        <%- include('../templates/footer.ejs') %>
    </main>
</body>

<script src="/static/js/bootstrap.bundle.min.js"></script>

</html>